.orangeBack {
  background-color: #f49425 !important;
  padding: 1%;
}

.bookTitleOrange {
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
  color: #c4b12e;
  padding: 1%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-flex;
  margin-left: -3px;
}

.listOrange li {
  color: white;
  font-size: large;
  max-width: 50%;
}

.bookInfoOrange {
  color: #b97932 !important;
  background-color: #f8d68f !important;
  border-color: #f8d68f !important;
  font-weight:400;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
}

.pinkBack {
  background-color: #942860 !important;
  padding: 1%;
}

.bookTitlePink {
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
  color: #e64967;
  padding: 1%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-flex;
  margin-left: -1px;
}

.listPink li {
  color: white;
  font-size: large;
  max-width: 50%;
}

.bookInfoPink {
  color: #9b2860 !important;
  background-color: #dfa0ab !important;
  border-color: #dfa0ab !important;
  font-weight:400;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
}

.greenBack {
  background-color: #2b7a3d !important;
  padding: 1%;
}

.bookTitleGreen {
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
  color: #709841;
  padding: 1%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: inline-flex;
  margin-left: 0px;
}

.listGreen li {
  color: white;
  font-size: large;
  max-width: 50%;
}

.bookInfoGreen {
  color: #104e26 !important;
  background-color: #96c2ad !important;
  border-color: #96c2ad !important;
  font-weight:400;
  text-align: center;
  border-radius: 10px;
  padding: 12px;
}