.whiteBack {
  background-color: #ffffff;
}

.listOrange{
  color: rgb(255, 161, 20);
  font-size: medium;
  max-width: 150%;
}

.listBlack{
  color: rgb(0, 0, 0);
  font-size: medium;
  max-width: 150%;
}

.listOrange2{
  color: rgb(255, 161, 20);
  font-size: x-small;
  max-width: 150%;
}

.listBlack2{
  color: rgb(0, 0, 0);
  font-size: x-small;
  max-width: 150%;
}


.listOrange3{
  color: rgb(255, 161, 20);
  font-size: x-large;
  max-width: 150%;
}

.listBlack3{
  color: rgb(0, 0, 0);
  font-size: x-large;
  max-width: 150%;
}